<%= div_for(tutorial_link) do %>
<% @user = getImage(tutorial_link) %>
    <div class="date">
        <div class="avatar">
            <%= link_to(@user.profile) do %>
                <%= image_tag(@user.image, title: @user.name) %>
            <% end %>
        </div>      
        <div class="vote-widget">
            <%= link_to "", like_path(tutorial_link), method: :post, class: 'upvote' %>
            <span class="vote-count"><%= tutorial_link.get_likes.size %></span>
        </div>
        <div class="wrapper">
            <div class="day">
                <%= link_to tutorial_link.title, tutorial_link.link, class: 'js-tutorial', title: tutorial_link.title, target: target="_blank" %>&nbsp;
            </div>
            <p class="ok"><%= tutorial_link.link %></p>
        </div>
    </div>
<% end %>