<div id="status">
  <div id="update">
  <div class="container">

<%= render "navbar" %>

<p>&nbsp;</p>
<% data_amount = tablePintingLogic @data.count %>

<%= render "header" %>    
    <div class="row">

      <div class="col-md-4">
      <div class="panel panel-default modules">
          <table class="table table-hover">
            <tbody>
            <% for i in 0..data_amount[0]-1 %>
              <tr>
                <td class="pading-0">
                  <a class="clickable-row" href="#"><%= @data[i].category %></a>  
                </td>
              </tr>
            <% end -%>
            </tbody>
          </table>
      </div>
      </div>

      <div class="col-md-4">
      <div class="panel panel-default modules">
        <table class="table table-hover">
          <tbody>            
            <% for i in i+1..data_amount[0]+data_amount[1]-1 %>
              <tr>
                <td class="pading-0">
                  <a class="clickable-row" href="#"><%= @data[i].category %></a>  
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>          
      </div>
      </div>

      <div class="col-md-4">
      <div class="panel panel-default modules">
        <table class="table table-hover">
          <tbody>            
            <% for i in i+1..data_amount[0]+data_amount[1]+data_amount[2]-1 %>
              <tr>
                <td class="pading-0">
                  <a class="clickable-row" href="#"><%= @data[i].category %></a>  
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table> 
      </div>
      </div>

    </div>

    <p>&nbsp;</p>
    <%= render "footer" %>
  </div>
</div>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->  
<!-- end olark code -->
</div> 