<!DOCTYPE html>
<html>
<head>
  <title>Expand</title>
  <%= stylesheet_link_tag    'application', 'theme', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg %>
  </div>
<% end %>

<div id="status">
<div id="update">
<div class="container">

<header>
  <div class="pull-right">
    <% if current_admin %>
      <%= link_to 'Add Category', new_tutorial_path %>&nbsp;&nbsp;
      <%= link_to 'Add Tutorial', new_tutorial_link_path %>&nbsp;&nbsp;
      <%= link_to 'Requests', requests_path %>&nbsp;&nbsp;
      <% %>
    <% end %>  
    <% if not current_user %>
    <a href="" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus"></i>
      Submit a Tutorial
    </a>
    <% else %>
    <%= link_to new_request_path do %>
    <i class="fa fa-plus"></i>
      Submit a Tutorial
    <% end %>
    <% end %>
    &nbsp;&nbsp;
    <% if current_user %>
      <%= link_to(signout_path, method: :post) do %>
        <i class="fa fa-sign-out"></i>
        Signout
      <% end %>
    <% else %>
      <a href="" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-sign-in"></i>
        Signup/Signin
      </a>
    <% end %>
  </div>
</header>

<p>&nbsp;</p>

<div class="row header">
  <h3>Expand</h3>
  <p>Share and discover the best programming tutorials and courses online.</p>
</div>

<%= yield %>

<div class="row">
  <div class="col-md-6">    
    <div class="pull-left github-color">
      <!-- <a href="#">About Us</a> 
      |-->
      <a href="mailto:minuddinrana@gmail.com">E-Mail Us</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= link_to image_tag('fb-icon.png'), "https://www.facebook.com/minuddin.ahmed.rana", target: 'blank' %>
      <%= link_to image_tag('social-tw.png'), "https://twitter.com/Minuddin_Ahmed", target: 'blank' %>
    </div>
  </div>
</div>

</div>
</div>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->  
<!-- end olark code -->
</div>

<% if not current_user %>
<%= render "login" %>
<% end %>

</body>
</html>
